
:root {
    --subtitle-font-family: Arial, sans-serif;
    --subtitle-font-size: 16px;
    --subtitle-line-height: 1.5;
    --subtitle-font-weight: bold;
    --colors-blue: #007bff;
    --grays-white: #ffffff;
    --subheadline-regular-font-family: Arial, sans-serif;
    --subheadline-regular-font-size: 14px;
    --subheadline-regular-line-height: 1.4;
    --subheadline-regular-letter-spacing: 0.5px;
    --subheadline-regular-font-weight: normal;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-image:url(./Multimedia/Background.png);
    background-size: cover;
  }
  
  h1{
    color: #000;
    text-align: center;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
    font-size: 3em;
    position: relative;
    height: 97px;
   
  }
  
  .component-2 {
    width: 294px;
    height: 276px;
    position: relative;
    margin: 0 auto;
    right: 70px;
  }
  
  .ellipse {
    background: #d9d9d9;
    border-radius: 70%;
    position: relative;
      }
  
  .ellipse-2 {
    width: 20px;
    height: 20px;
    left: 72%;
    bottom: 0;
    top: 28.57%;
    background-color: #FFEDED;
  }
  
  .ellipse-3 {
    width: 25px;
    height: 25px;
    left: 54%;
    bottom: 11.96%;
    top: 9%;
    background-color: #FFEDED;
  }
  
  .ellipse-4 {
    width: 30px;
    height: 30px;
    left:36%;
    bottom: 20.19%;
    margin-top: 5%;
    background-color: #FFEDED;
    
  

    
  }
  
  .ellipse-22 {
    width: 171%;
    height: 240px;
    background: #FFEDED;
    top: 0;
    right: 10%;

  }
  
  .Image{
    display: block; 
    margin: 35%;
    margin-top: 140px; 
    width: 100px;
    transform: scale(1.5);
  
  
    
  
    
   
  }
  
  .button {
    background-color:#8A226F ;
    border-radius: 40px;
    padding: 4px 10px;
    display: flex;
    flex-direction: row;
    margin: 200px; 
    gap: 3px;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 83px;
    position: relative;
    left: 28%;
    cursor: pointer;
    border: none;
    margin-top: 28%;
    bottom: 100%;
 

  }
  
  .symbol {
    color: var(--grays-white);
    text-align: center;
    font-family: var(--subheadline-regular-font-family);
    font-size: var(--subheadline-regular-font-size);
    line-height: var(--subheadline-regular-line-height);
    font-weight: var(--subheadline-regular-font-weight);
  }
  
  .label {
    color: white;
    text-align: left;
    font-family:"Raleway", serif;
    font-size: 2em;
    font-weight: 500;
  }
  .favorite,
  .favorite * {
    box-sizing: border-box;
  }
  .favorite {
    width: 63px;
    height: 67px;
    position: relative;
    overflow: visible;
  }