*, *::before, *::after { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/Multimedia/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.main-container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.page-title {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: black;
}

.ellipse {
  border-radius: 50%;
  background-color: #ffe6ea;
}

.ellipse-22 {
  position: relative;
  width: 18.75rem;
  height: 12.5rem;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffe6ea;
  color: #8a226f;
}

.quote-text {
  font-size: 1em;
  line-height: 1;
}

.quote-container {
  position: relative;
}

.ellipse-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 100%;
  left: 60%;
  background: #ffeded;
  border-radius: 50%;
}

.ellipse-3 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 120%;
  left: 50%;
  background: #ffeded;
  border-radius: 50%;
}

.ellipse-4 {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 140%;
  left: 40%;
  background: #ffeded;
  border-radius: 50%;
}

.image-container img {
  width: 150px; 
  margin: 100px auto 10px;
  display: block;
}

button {
  background-color: #8a226f;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #6b1855;
}
